QLBanThuoc/QLBanThuoc/Connected Services/QL_SR/QLBTService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ThemMoiNCC">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mancc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tenncc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nguoidd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sdt" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="diachi" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ThemMoiNCCResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ThemMoiNCCResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SuaNhaCungCap">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mancc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tenncc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nguoidd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sdt" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="diachi" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SuaNhaCungCapResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SuaNhaCungCapResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="XoaNhaCungCap">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mancc" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="XoaNhaCungCapResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="XoaNhaCungCapResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TimKiemNCC">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="thongtin" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TimKiemNCCResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TimKiemNCCResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getIDResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ma_user">
        <s:complexType />
      </s:element>
      <s:element name="ma_userResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ma_userResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TimKiemThuoc">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="str" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TimKiemThuocResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TimKiemThuocResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TimKiemThuocSua">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="str" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TimKiemThuocSuaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TimKiemThuocSuaResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LuuThuoc">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mathuoc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="malo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ten" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nsx" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="hsd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="slt" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dt" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dongia" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LuuThuocResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LuuThuocResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="XoaThuoc">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="maThuoc" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="XoaThuocResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="XoaThuocResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DanhSachThuoc">
        <s:complexType />
      </s:element>
      <s:element name="DanhSachThuocResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DanhSachThuocResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DanhSachThuocTheoTen">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TenThuoc" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DanhSachThuocTheoTenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DanhSachThuocTheoTenResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DanhSachThuocTheoThoiHan">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="date1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="date2" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DanhSachThuocTheoThoiHanResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DanhSachThuocTheoThoiHanResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DanhSachThuocTheoTenVaThoiHan">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TenThuoc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="date1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="date2" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DanhSachThuocTheoTenVaThoiHanResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DanhSachThuocTheoTenVaThoiHanResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DangKy">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tenDangNhap" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MatKhau" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DangKyResponse">
        <s:complexType />
      </s:element>
      <s:element name="DoiMatKhau">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tenDangNhap" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MatKhauCu" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MatKhauMoi" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoiMatKhauResponse">
        <s:complexType />
      </s:element>
      <s:element name="NhapThuoc">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="date" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="maNCC" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="maNV" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Gia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="HSD" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="maThuoc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="maHSX" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NSX" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tenThuoc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CD" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dangThuoc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="maloaiThuoc" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NhapThuocResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="NhapThuocResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TimNCC">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TenNCC" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TimNCCResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TimNCCResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadThongTinNV">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="maNV" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadThongTinNVResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoadThongTinNVResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadThongTinHSX">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tenHSX" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadThongTinHSXResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoadThongTinHSXResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadThongTinLoaiThuoc">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tenLoaiThuoc" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadThongTinLoaiThuocResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoadThongTinLoaiThuocResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getRole">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getRoleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getRoleResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Thongke_ThuocNhap">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="str1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="str2" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Thongke_ThuocNhapResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Thongke_ThuocNhapResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Thongke_ThuocBan">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="str1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="str2" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Thongke_ThuocBanResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Thongke_ThuocBanResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ThongkeSLT">
        <s:complexType />
      </s:element>
      <s:element name="ThongkeSLTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ThongkeSLTResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ThongkeTHH">
        <s:complexType />
      </s:element>
      <s:element name="ThongkeTHHResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ThongkeTHHResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TKDoanhThuMY">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="date1" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TKDoanhThuMYResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TKDoanhThuMYResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TKDoanhThuY">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="date2" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TKDoanhThuYResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TKDoanhThuYResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TKDoanhThu">
        <s:complexType />
      </s:element>
      <s:element name="TKDoanhThuResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TKDoanhThuResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TimKiemKH">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cmnd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TimKiemKHResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TimKiemKHResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ThemKH">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ten" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SDT" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cmtnd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ThemKHResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ThemKHResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TimKiemThuoc_Ban">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cmnd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TimKiemThuoc_BanResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TimKiemThuoc_BanResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ThemPhieuXuat">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="date" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="makh" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="manv" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tong" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ThemPhieuXuatResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ThemPhieuXuatResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ThemPhieuXuat1">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="date" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="makh" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="manv" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tong" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ThemPhieuXuat1Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ThemPhieuXuat1Result">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LayMaPX">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="date" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="makh" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="manv" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tong" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LayMaPXResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LayMaPXResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ThemDonThuoc">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="maPX" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="maT" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sl" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="gia" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ThemDonThuocResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ThemDonThuocResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LayThuocDatHang">
        <s:complexType />
      </s:element>
      <s:element name="LayThuocDatHangResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LayThuocDatHangResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LayThuocDaDatHang">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LayThuocDaDatHangResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LayThuocDaDatHangResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LayThuocDatHangChiTiet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LayThuocDatHangChiTietResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LayThuocDatHangChiTietResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="XoaDon">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="XoaDonResponse">
        <s:complexType />
      </s:element>
      <s:element name="LayDS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="str" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LayDSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LayDSResult" type="tns:ArrayOfTHUOC" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTHUOC">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="THUOC" nillable="true" type="tns:THUOC" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="THUOC">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="MaThuoc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MaLoThuoc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TenThuoc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CongDung" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ThanhPhan" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SoLuongTon" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DangThuoc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MaLoaiThuoc" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DonGia" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MaHangSX" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MaNhaCungCap" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UrlImage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Tien" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TimKiem" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginResult" type="tns:ArrayOfKHACHHANG" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfKHACHHANG">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="KHACHHANG" nillable="true" type="tns:KHACHHANG" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="KHACHHANG">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="MaKhachHang" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TenKhachHang" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MatKhau" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Register">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="makh" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RegisterResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LayTenLoaiThuoc">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="str" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LayTenLoaiThuocResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LayTenLoaiThuocResult" type="tns:ArrayOfTHUOC" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChiTietSP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="str" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChiTietSPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ChiTietSPResult" type="tns:ArrayOfTHUOC" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LayDSLoaiThuoc">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="str" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LayDSLoaiThuocResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LayDSLoaiThuocResult" type="tns:ArrayOfLOAITHUOC" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfLOAITHUOC">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LOAITHUOC" nillable="true" type="tns:LOAITHUOC" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LOAITHUOC">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="MaLoaiThuoc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TenLoaiThuoc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ParentID" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="XoaSPGH">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="maSP" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="XoaSPGHResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="XoaSPGHResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ThemMoiNCCSoapIn">
    <wsdl:part name="parameters" element="tns:ThemMoiNCC" />
  </wsdl:message>
  <wsdl:message name="ThemMoiNCCSoapOut">
    <wsdl:part name="parameters" element="tns:ThemMoiNCCResponse" />
  </wsdl:message>
  <wsdl:message name="SuaNhaCungCapSoapIn">
    <wsdl:part name="parameters" element="tns:SuaNhaCungCap" />
  </wsdl:message>
  <wsdl:message name="SuaNhaCungCapSoapOut">
    <wsdl:part name="parameters" element="tns:SuaNhaCungCapResponse" />
  </wsdl:message>
  <wsdl:message name="XoaNhaCungCapSoapIn">
    <wsdl:part name="parameters" element="tns:XoaNhaCungCap" />
  </wsdl:message>
  <wsdl:message name="XoaNhaCungCapSoapOut">
    <wsdl:part name="parameters" element="tns:XoaNhaCungCapResponse" />
  </wsdl:message>
  <wsdl:message name="TimKiemNCCSoapIn">
    <wsdl:part name="parameters" element="tns:TimKiemNCC" />
  </wsdl:message>
  <wsdl:message name="TimKiemNCCSoapOut">
    <wsdl:part name="parameters" element="tns:TimKiemNCCResponse" />
  </wsdl:message>
  <wsdl:message name="getIDSoapIn">
    <wsdl:part name="parameters" element="tns:getID" />
  </wsdl:message>
  <wsdl:message name="getIDSoapOut">
    <wsdl:part name="parameters" element="tns:getIDResponse" />
  </wsdl:message>
  <wsdl:message name="ma_userSoapIn">
    <wsdl:part name="parameters" element="tns:ma_user" />
  </wsdl:message>
  <wsdl:message name="ma_userSoapOut">
    <wsdl:part name="parameters" element="tns:ma_userResponse" />
  </wsdl:message>
  <wsdl:message name="TimKiemThuocSoapIn">
    <wsdl:part name="parameters" element="tns:TimKiemThuoc" />
  </wsdl:message>
  <wsdl:message name="TimKiemThuocSoapOut">
    <wsdl:part name="parameters" element="tns:TimKiemThuocResponse" />
  </wsdl:message>
  <wsdl:message name="TimKiemThuocSuaSoapIn">
    <wsdl:part name="parameters" element="tns:TimKiemThuocSua" />
  </wsdl:message>
  <wsdl:message name="TimKiemThuocSuaSoapOut">
    <wsdl:part name="parameters" element="tns:TimKiemThuocSuaResponse" />
  </wsdl:message>
  <wsdl:message name="LuuThuocSoapIn">
    <wsdl:part name="parameters" element="tns:LuuThuoc" />
  </wsdl:message>
  <wsdl:message name="LuuThuocSoapOut">
    <wsdl:part name="parameters" element="tns:LuuThuocResponse" />
  </wsdl:message>
  <wsdl:message name="XoaThuocSoapIn">
    <wsdl:part name="parameters" element="tns:XoaThuoc" />
  </wsdl:message>
  <wsdl:message name="XoaThuocSoapOut">
    <wsdl:part name="parameters" element="tns:XoaThuocResponse" />
  </wsdl:message>
  <wsdl:message name="DanhSachThuocSoapIn">
    <wsdl:part name="parameters" element="tns:DanhSachThuoc" />
  </wsdl:message>
  <wsdl:message name="DanhSachThuocSoapOut">
    <wsdl:part name="parameters" element="tns:DanhSachThuocResponse" />
  </wsdl:message>
  <wsdl:message name="DanhSachThuocTheoTenSoapIn">
    <wsdl:part name="parameters" element="tns:DanhSachThuocTheoTen" />
  </wsdl:message>
  <wsdl:message name="DanhSachThuocTheoTenSoapOut">
    <wsdl:part name="parameters" element="tns:DanhSachThuocTheoTenResponse" />
  </wsdl:message>
  <wsdl:message name="DanhSachThuocTheoThoiHanSoapIn">
    <wsdl:part name="parameters" element="tns:DanhSachThuocTheoThoiHan" />
  </wsdl:message>
  <wsdl:message name="DanhSachThuocTheoThoiHanSoapOut">
    <wsdl:part name="parameters" element="tns:DanhSachThuocTheoThoiHanResponse" />
  </wsdl:message>
  <wsdl:message name="DanhSachThuocTheoTenVaThoiHanSoapIn">
    <wsdl:part name="parameters" element="tns:DanhSachThuocTheoTenVaThoiHan" />
  </wsdl:message>
  <wsdl:message name="DanhSachThuocTheoTenVaThoiHanSoapOut">
    <wsdl:part name="parameters" element="tns:DanhSachThuocTheoTenVaThoiHanResponse" />
  </wsdl:message>
  <wsdl:message name="DangKySoapIn">
    <wsdl:part name="parameters" element="tns:DangKy" />
  </wsdl:message>
  <wsdl:message name="DangKySoapOut">
    <wsdl:part name="parameters" element="tns:DangKyResponse" />
  </wsdl:message>
  <wsdl:message name="DoiMatKhauSoapIn">
    <wsdl:part name="parameters" element="tns:DoiMatKhau" />
  </wsdl:message>
  <wsdl:message name="DoiMatKhauSoapOut">
    <wsdl:part name="parameters" element="tns:DoiMatKhauResponse" />
  </wsdl:message>
  <wsdl:message name="NhapThuocSoapIn">
    <wsdl:part name="parameters" element="tns:NhapThuoc" />
  </wsdl:message>
  <wsdl:message name="NhapThuocSoapOut">
    <wsdl:part name="parameters" element="tns:NhapThuocResponse" />
  </wsdl:message>
  <wsdl:message name="TimNCCSoapIn">
    <wsdl:part name="parameters" element="tns:TimNCC" />
  </wsdl:message>
  <wsdl:message name="TimNCCSoapOut">
    <wsdl:part name="parameters" element="tns:TimNCCResponse" />
  </wsdl:message>
  <wsdl:message name="LoadThongTinNVSoapIn">
    <wsdl:part name="parameters" element="tns:LoadThongTinNV" />
  </wsdl:message>
  <wsdl:message name="LoadThongTinNVSoapOut">
    <wsdl:part name="parameters" element="tns:LoadThongTinNVResponse" />
  </wsdl:message>
  <wsdl:message name="LoadThongTinHSXSoapIn">
    <wsdl:part name="parameters" element="tns:LoadThongTinHSX" />
  </wsdl:message>
  <wsdl:message name="LoadThongTinHSXSoapOut">
    <wsdl:part name="parameters" element="tns:LoadThongTinHSXResponse" />
  </wsdl:message>
  <wsdl:message name="LoadThongTinLoaiThuocSoapIn">
    <wsdl:part name="parameters" element="tns:LoadThongTinLoaiThuoc" />
  </wsdl:message>
  <wsdl:message name="LoadThongTinLoaiThuocSoapOut">
    <wsdl:part name="parameters" element="tns:LoadThongTinLoaiThuocResponse" />
  </wsdl:message>
  <wsdl:message name="getRoleSoapIn">
    <wsdl:part name="parameters" element="tns:getRole" />
  </wsdl:message>
  <wsdl:message name="getRoleSoapOut">
    <wsdl:part name="parameters" element="tns:getRoleResponse" />
  </wsdl:message>
  <wsdl:message name="Thongke_ThuocNhapSoapIn">
    <wsdl:part name="parameters" element="tns:Thongke_ThuocNhap" />
  </wsdl:message>
  <wsdl:message name="Thongke_ThuocNhapSoapOut">
    <wsdl:part name="parameters" element="tns:Thongke_ThuocNhapResponse" />
  </wsdl:message>
  <wsdl:message name="Thongke_ThuocBanSoapIn">
    <wsdl:part name="parameters" element="tns:Thongke_ThuocBan" />
  </wsdl:message>
  <wsdl:message name="Thongke_ThuocBanSoapOut">
    <wsdl:part name="parameters" element="tns:Thongke_ThuocBanResponse" />
  </wsdl:message>
  <wsdl:message name="ThongkeSLTSoapIn">
    <wsdl:part name="parameters" element="tns:ThongkeSLT" />
  </wsdl:message>
  <wsdl:message name="ThongkeSLTSoapOut">
    <wsdl:part name="parameters" element="tns:ThongkeSLTResponse" />
  </wsdl:message>
  <wsdl:message name="ThongkeTHHSoapIn">
    <wsdl:part name="parameters" element="tns:ThongkeTHH" />
  </wsdl:message>
  <wsdl:message name="ThongkeTHHSoapOut">
    <wsdl:part name="parameters" element="tns:ThongkeTHHResponse" />
  </wsdl:message>
  <wsdl:message name="TKDoanhThuMYSoapIn">
    <wsdl:part name="parameters" element="tns:TKDoanhThuMY" />
  </wsdl:message>
  <wsdl:message name="TKDoanhThuMYSoapOut">
    <wsdl:part name="parameters" element="tns:TKDoanhThuMYResponse" />
  </wsdl:message>
  <wsdl:message name="TKDoanhThuYSoapIn">
    <wsdl:part name="parameters" element="tns:TKDoanhThuY" />
  </wsdl:message>
  <wsdl:message name="TKDoanhThuYSoapOut">
    <wsdl:part name="parameters" element="tns:TKDoanhThuYResponse" />
  </wsdl:message>
  <wsdl:message name="TKDoanhThuSoapIn">
    <wsdl:part name="parameters" element="tns:TKDoanhThu" />
  </wsdl:message>
  <wsdl:message name="TKDoanhThuSoapOut">
    <wsdl:part name="parameters" element="tns:TKDoanhThuResponse" />
  </wsdl:message>
  <wsdl:message name="TimKiemKHSoapIn">
    <wsdl:part name="parameters" element="tns:TimKiemKH" />
  </wsdl:message>
  <wsdl:message name="TimKiemKHSoapOut">
    <wsdl:part name="parameters" element="tns:TimKiemKHResponse" />
  </wsdl:message>
  <wsdl:message name="ThemKHSoapIn">
    <wsdl:part name="parameters" element="tns:ThemKH" />
  </wsdl:message>
  <wsdl:message name="ThemKHSoapOut">
    <wsdl:part name="parameters" element="tns:ThemKHResponse" />
  </wsdl:message>
  <wsdl:message name="TimKiemThuoc_BanSoapIn">
    <wsdl:part name="parameters" element="tns:TimKiemThuoc_Ban" />
  </wsdl:message>
  <wsdl:message name="TimKiemThuoc_BanSoapOut">
    <wsdl:part name="parameters" element="tns:TimKiemThuoc_BanResponse" />
  </wsdl:message>
  <wsdl:message name="ThemPhieuXuatSoapIn">
    <wsdl:part name="parameters" element="tns:ThemPhieuXuat" />
  </wsdl:message>
  <wsdl:message name="ThemPhieuXuatSoapOut">
    <wsdl:part name="parameters" element="tns:ThemPhieuXuatResponse" />
  </wsdl:message>
  <wsdl:message name="ThemPhieuXuat1SoapIn">
    <wsdl:part name="parameters" element="tns:ThemPhieuXuat1" />
  </wsdl:message>
  <wsdl:message name="ThemPhieuXuat1SoapOut">
    <wsdl:part name="parameters" element="tns:ThemPhieuXuat1Response" />
  </wsdl:message>
  <wsdl:message name="LayMaPXSoapIn">
    <wsdl:part name="parameters" element="tns:LayMaPX" />
  </wsdl:message>
  <wsdl:message name="LayMaPXSoapOut">
    <wsdl:part name="parameters" element="tns:LayMaPXResponse" />
  </wsdl:message>
  <wsdl:message name="ThemDonThuocSoapIn">
    <wsdl:part name="parameters" element="tns:ThemDonThuoc" />
  </wsdl:message>
  <wsdl:message name="ThemDonThuocSoapOut">
    <wsdl:part name="parameters" element="tns:ThemDonThuocResponse" />
  </wsdl:message>
  <wsdl:message name="LayThuocDatHangSoapIn">
    <wsdl:part name="parameters" element="tns:LayThuocDatHang" />
  </wsdl:message>
  <wsdl:message name="LayThuocDatHangSoapOut">
    <wsdl:part name="parameters" element="tns:LayThuocDatHangResponse" />
  </wsdl:message>
  <wsdl:message name="LayThuocDaDatHangSoapIn">
    <wsdl:part name="parameters" element="tns:LayThuocDaDatHang" />
  </wsdl:message>
  <wsdl:message name="LayThuocDaDatHangSoapOut">
    <wsdl:part name="parameters" element="tns:LayThuocDaDatHangResponse" />
  </wsdl:message>
  <wsdl:message name="LayThuocDatHangChiTietSoapIn">
    <wsdl:part name="parameters" element="tns:LayThuocDatHangChiTiet" />
  </wsdl:message>
  <wsdl:message name="LayThuocDatHangChiTietSoapOut">
    <wsdl:part name="parameters" element="tns:LayThuocDatHangChiTietResponse" />
  </wsdl:message>
  <wsdl:message name="XoaDonSoapIn">
    <wsdl:part name="parameters" element="tns:XoaDon" />
  </wsdl:message>
  <wsdl:message name="XoaDonSoapOut">
    <wsdl:part name="parameters" element="tns:XoaDonResponse" />
  </wsdl:message>
  <wsdl:message name="LayDSSoapIn">
    <wsdl:part name="parameters" element="tns:LayDS" />
  </wsdl:message>
  <wsdl:message name="LayDSSoapOut">
    <wsdl:part name="parameters" element="tns:LayDSResponse" />
  </wsdl:message>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="RegisterSoapIn">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="RegisterSoapOut">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="LayTenLoaiThuocSoapIn">
    <wsdl:part name="parameters" element="tns:LayTenLoaiThuoc" />
  </wsdl:message>
  <wsdl:message name="LayTenLoaiThuocSoapOut">
    <wsdl:part name="parameters" element="tns:LayTenLoaiThuocResponse" />
  </wsdl:message>
  <wsdl:message name="ChiTietSPSoapIn">
    <wsdl:part name="parameters" element="tns:ChiTietSP" />
  </wsdl:message>
  <wsdl:message name="ChiTietSPSoapOut">
    <wsdl:part name="parameters" element="tns:ChiTietSPResponse" />
  </wsdl:message>
  <wsdl:message name="LayDSLoaiThuocSoapIn">
    <wsdl:part name="parameters" element="tns:LayDSLoaiThuoc" />
  </wsdl:message>
  <wsdl:message name="LayDSLoaiThuocSoapOut">
    <wsdl:part name="parameters" element="tns:LayDSLoaiThuocResponse" />
  </wsdl:message>
  <wsdl:message name="XoaSPGHSoapIn">
    <wsdl:part name="parameters" element="tns:XoaSPGH" />
  </wsdl:message>
  <wsdl:message name="XoaSPGHSoapOut">
    <wsdl:part name="parameters" element="tns:XoaSPGHResponse" />
  </wsdl:message>
  <wsdl:portType name="QLBanThuocServiceSoap">
    <wsdl:operation name="ThemMoiNCC">
      <wsdl:input message="tns:ThemMoiNCCSoapIn" />
      <wsdl:output message="tns:ThemMoiNCCSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SuaNhaCungCap">
      <wsdl:input message="tns:SuaNhaCungCapSoapIn" />
      <wsdl:output message="tns:SuaNhaCungCapSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="XoaNhaCungCap">
      <wsdl:input message="tns:XoaNhaCungCapSoapIn" />
      <wsdl:output message="tns:XoaNhaCungCapSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TimKiemNCC">
      <wsdl:input message="tns:TimKiemNCCSoapIn" />
      <wsdl:output message="tns:TimKiemNCCSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getID">
      <wsdl:input message="tns:getIDSoapIn" />
      <wsdl:output message="tns:getIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ma_user">
      <wsdl:input message="tns:ma_userSoapIn" />
      <wsdl:output message="tns:ma_userSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TimKiemThuoc">
      <wsdl:input message="tns:TimKiemThuocSoapIn" />
      <wsdl:output message="tns:TimKiemThuocSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TimKiemThuocSua">
      <wsdl:input message="tns:TimKiemThuocSuaSoapIn" />
      <wsdl:output message="tns:TimKiemThuocSuaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LuuThuoc">
      <wsdl:input message="tns:LuuThuocSoapIn" />
      <wsdl:output message="tns:LuuThuocSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="XoaThuoc">
      <wsdl:input message="tns:XoaThuocSoapIn" />
      <wsdl:output message="tns:XoaThuocSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DanhSachThuoc">
      <wsdl:input message="tns:DanhSachThuocSoapIn" />
      <wsdl:output message="tns:DanhSachThuocSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DanhSachThuocTheoTen">
      <wsdl:input message="tns:DanhSachThuocTheoTenSoapIn" />
      <wsdl:output message="tns:DanhSachThuocTheoTenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DanhSachThuocTheoThoiHan">
      <wsdl:input message="tns:DanhSachThuocTheoThoiHanSoapIn" />
      <wsdl:output message="tns:DanhSachThuocTheoThoiHanSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DanhSachThuocTheoTenVaThoiHan">
      <wsdl:input message="tns:DanhSachThuocTheoTenVaThoiHanSoapIn" />
      <wsdl:output message="tns:DanhSachThuocTheoTenVaThoiHanSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DangKy">
      <wsdl:input message="tns:DangKySoapIn" />
      <wsdl:output message="tns:DangKySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DoiMatKhau">
      <wsdl:input message="tns:DoiMatKhauSoapIn" />
      <wsdl:output message="tns:DoiMatKhauSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="NhapThuoc">
      <wsdl:input message="tns:NhapThuocSoapIn" />
      <wsdl:output message="tns:NhapThuocSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TimNCC">
      <wsdl:input message="tns:TimNCCSoapIn" />
      <wsdl:output message="tns:TimNCCSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoadThongTinNV">
      <wsdl:input message="tns:LoadThongTinNVSoapIn" />
      <wsdl:output message="tns:LoadThongTinNVSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoadThongTinHSX">
      <wsdl:input message="tns:LoadThongTinHSXSoapIn" />
      <wsdl:output message="tns:LoadThongTinHSXSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoadThongTinLoaiThuoc">
      <wsdl:input message="tns:LoadThongTinLoaiThuocSoapIn" />
      <wsdl:output message="tns:LoadThongTinLoaiThuocSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getRole">
      <wsdl:input message="tns:getRoleSoapIn" />
      <wsdl:output message="tns:getRoleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Thongke_ThuocNhap">
      <wsdl:input message="tns:Thongke_ThuocNhapSoapIn" />
      <wsdl:output message="tns:Thongke_ThuocNhapSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Thongke_ThuocBan">
      <wsdl:input message="tns:Thongke_ThuocBanSoapIn" />
      <wsdl:output message="tns:Thongke_ThuocBanSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ThongkeSLT">
      <wsdl:input message="tns:ThongkeSLTSoapIn" />
      <wsdl:output message="tns:ThongkeSLTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ThongkeTHH">
      <wsdl:input message="tns:ThongkeTHHSoapIn" />
      <wsdl:output message="tns:ThongkeTHHSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TKDoanhThuMY">
      <wsdl:input message="tns:TKDoanhThuMYSoapIn" />
      <wsdl:output message="tns:TKDoanhThuMYSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TKDoanhThuY">
      <wsdl:input message="tns:TKDoanhThuYSoapIn" />
      <wsdl:output message="tns:TKDoanhThuYSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TKDoanhThu">
      <wsdl:input message="tns:TKDoanhThuSoapIn" />
      <wsdl:output message="tns:TKDoanhThuSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TimKiemKH">
      <wsdl:input message="tns:TimKiemKHSoapIn" />
      <wsdl:output message="tns:TimKiemKHSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ThemKH">
      <wsdl:input message="tns:ThemKHSoapIn" />
      <wsdl:output message="tns:ThemKHSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TimKiemThuoc_Ban">
      <wsdl:input message="tns:TimKiemThuoc_BanSoapIn" />
      <wsdl:output message="tns:TimKiemThuoc_BanSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ThemPhieuXuat">
      <wsdl:input message="tns:ThemPhieuXuatSoapIn" />
      <wsdl:output message="tns:ThemPhieuXuatSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ThemPhieuXuat1">
      <wsdl:input message="tns:ThemPhieuXuat1SoapIn" />
      <wsdl:output message="tns:ThemPhieuXuat1SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LayMaPX">
      <wsdl:input message="tns:LayMaPXSoapIn" />
      <wsdl:output message="tns:LayMaPXSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ThemDonThuoc">
      <wsdl:input message="tns:ThemDonThuocSoapIn" />
      <wsdl:output message="tns:ThemDonThuocSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LayThuocDatHang">
      <wsdl:input message="tns:LayThuocDatHangSoapIn" />
      <wsdl:output message="tns:LayThuocDatHangSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LayThuocDaDatHang">
      <wsdl:input message="tns:LayThuocDaDatHangSoapIn" />
      <wsdl:output message="tns:LayThuocDaDatHangSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LayThuocDatHangChiTiet">
      <wsdl:input message="tns:LayThuocDatHangChiTietSoapIn" />
      <wsdl:output message="tns:LayThuocDatHangChiTietSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="XoaDon">
      <wsdl:input message="tns:XoaDonSoapIn" />
      <wsdl:output message="tns:XoaDonSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LayDS">
      <wsdl:input message="tns:LayDSSoapIn" />
      <wsdl:output message="tns:LayDSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Register">
      <wsdl:input message="tns:RegisterSoapIn" />
      <wsdl:output message="tns:RegisterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LayTenLoaiThuoc">
      <wsdl:input message="tns:LayTenLoaiThuocSoapIn" />
      <wsdl:output message="tns:LayTenLoaiThuocSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ChiTietSP">
      <wsdl:input message="tns:ChiTietSPSoapIn" />
      <wsdl:output message="tns:ChiTietSPSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LayDSLoaiThuoc">
      <wsdl:input message="tns:LayDSLoaiThuocSoapIn" />
      <wsdl:output message="tns:LayDSLoaiThuocSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="XoaSPGH">
      <wsdl:input message="tns:XoaSPGHSoapIn" />
      <wsdl:output message="tns:XoaSPGHSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="QLBanThuocServiceSoap" type="tns:QLBanThuocServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ThemMoiNCC">
      <soap:operation soapAction="http://tempuri.org/ThemMoiNCC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SuaNhaCungCap">
      <soap:operation soapAction="http://tempuri.org/SuaNhaCungCap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XoaNhaCungCap">
      <soap:operation soapAction="http://tempuri.org/XoaNhaCungCap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimKiemNCC">
      <soap:operation soapAction="http://tempuri.org/TimKiemNCC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getID">
      <soap:operation soapAction="http://tempuri.org/getID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ma_user">
      <soap:operation soapAction="http://tempuri.org/ma_user" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimKiemThuoc">
      <soap:operation soapAction="http://tempuri.org/TimKiemThuoc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimKiemThuocSua">
      <soap:operation soapAction="http://tempuri.org/TimKiemThuocSua" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LuuThuoc">
      <soap:operation soapAction="http://tempuri.org/LuuThuoc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XoaThuoc">
      <soap:operation soapAction="http://tempuri.org/XoaThuoc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DanhSachThuoc">
      <soap:operation soapAction="http://tempuri.org/DanhSachThuoc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DanhSachThuocTheoTen">
      <soap:operation soapAction="http://tempuri.org/DanhSachThuocTheoTen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DanhSachThuocTheoThoiHan">
      <soap:operation soapAction="http://tempuri.org/DanhSachThuocTheoThoiHan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DanhSachThuocTheoTenVaThoiHan">
      <soap:operation soapAction="http://tempuri.org/DanhSachThuocTheoTenVaThoiHan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DangKy">
      <soap:operation soapAction="http://tempuri.org/DangKy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoiMatKhau">
      <soap:operation soapAction="http://tempuri.org/DoiMatKhau" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NhapThuoc">
      <soap:operation soapAction="http://tempuri.org/NhapThuoc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimNCC">
      <soap:operation soapAction="http://tempuri.org/TimNCC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadThongTinNV">
      <soap:operation soapAction="http://tempuri.org/LoadThongTinNV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadThongTinHSX">
      <soap:operation soapAction="http://tempuri.org/LoadThongTinHSX" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadThongTinLoaiThuoc">
      <soap:operation soapAction="http://tempuri.org/LoadThongTinLoaiThuoc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRole">
      <soap:operation soapAction="http://tempuri.org/getRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Thongke_ThuocNhap">
      <soap:operation soapAction="http://tempuri.org/Thongke_ThuocNhap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Thongke_ThuocBan">
      <soap:operation soapAction="http://tempuri.org/Thongke_ThuocBan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThongkeSLT">
      <soap:operation soapAction="http://tempuri.org/ThongkeSLT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThongkeTHH">
      <soap:operation soapAction="http://tempuri.org/ThongkeTHH" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TKDoanhThuMY">
      <soap:operation soapAction="http://tempuri.org/TKDoanhThuMY" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TKDoanhThuY">
      <soap:operation soapAction="http://tempuri.org/TKDoanhThuY" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TKDoanhThu">
      <soap:operation soapAction="http://tempuri.org/TKDoanhThu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimKiemKH">
      <soap:operation soapAction="http://tempuri.org/TimKiemKH" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThemKH">
      <soap:operation soapAction="http://tempuri.org/ThemKH" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimKiemThuoc_Ban">
      <soap:operation soapAction="http://tempuri.org/TimKiemThuoc_Ban" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThemPhieuXuat">
      <soap:operation soapAction="http://tempuri.org/ThemPhieuXuat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThemPhieuXuat1">
      <soap:operation soapAction="http://tempuri.org/ThemPhieuXuat1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LayMaPX">
      <soap:operation soapAction="http://tempuri.org/LayMaPX" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThemDonThuoc">
      <soap:operation soapAction="http://tempuri.org/ThemDonThuoc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LayThuocDatHang">
      <soap:operation soapAction="http://tempuri.org/LayThuocDatHang" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LayThuocDaDatHang">
      <soap:operation soapAction="http://tempuri.org/LayThuocDaDatHang" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LayThuocDatHangChiTiet">
      <soap:operation soapAction="http://tempuri.org/LayThuocDatHangChiTiet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XoaDon">
      <soap:operation soapAction="http://tempuri.org/XoaDon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LayDS">
      <soap:operation soapAction="http://tempuri.org/LayDS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LayTenLoaiThuoc">
      <soap:operation soapAction="http://tempuri.org/LayTenLoaiThuoc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChiTietSP">
      <soap:operation soapAction="http://tempuri.org/ChiTietSP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LayDSLoaiThuoc">
      <soap:operation soapAction="http://tempuri.org/LayDSLoaiThuoc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XoaSPGH">
      <soap:operation soapAction="http://tempuri.org/XoaSPGH" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="QLBanThuocServiceSoap12" type="tns:QLBanThuocServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ThemMoiNCC">
      <soap12:operation soapAction="http://tempuri.org/ThemMoiNCC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SuaNhaCungCap">
      <soap12:operation soapAction="http://tempuri.org/SuaNhaCungCap" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XoaNhaCungCap">
      <soap12:operation soapAction="http://tempuri.org/XoaNhaCungCap" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimKiemNCC">
      <soap12:operation soapAction="http://tempuri.org/TimKiemNCC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getID">
      <soap12:operation soapAction="http://tempuri.org/getID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ma_user">
      <soap12:operation soapAction="http://tempuri.org/ma_user" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimKiemThuoc">
      <soap12:operation soapAction="http://tempuri.org/TimKiemThuoc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimKiemThuocSua">
      <soap12:operation soapAction="http://tempuri.org/TimKiemThuocSua" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LuuThuoc">
      <soap12:operation soapAction="http://tempuri.org/LuuThuoc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XoaThuoc">
      <soap12:operation soapAction="http://tempuri.org/XoaThuoc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DanhSachThuoc">
      <soap12:operation soapAction="http://tempuri.org/DanhSachThuoc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DanhSachThuocTheoTen">
      <soap12:operation soapAction="http://tempuri.org/DanhSachThuocTheoTen" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DanhSachThuocTheoThoiHan">
      <soap12:operation soapAction="http://tempuri.org/DanhSachThuocTheoThoiHan" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DanhSachThuocTheoTenVaThoiHan">
      <soap12:operation soapAction="http://tempuri.org/DanhSachThuocTheoTenVaThoiHan" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DangKy">
      <soap12:operation soapAction="http://tempuri.org/DangKy" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoiMatKhau">
      <soap12:operation soapAction="http://tempuri.org/DoiMatKhau" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NhapThuoc">
      <soap12:operation soapAction="http://tempuri.org/NhapThuoc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimNCC">
      <soap12:operation soapAction="http://tempuri.org/TimNCC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadThongTinNV">
      <soap12:operation soapAction="http://tempuri.org/LoadThongTinNV" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadThongTinHSX">
      <soap12:operation soapAction="http://tempuri.org/LoadThongTinHSX" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadThongTinLoaiThuoc">
      <soap12:operation soapAction="http://tempuri.org/LoadThongTinLoaiThuoc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRole">
      <soap12:operation soapAction="http://tempuri.org/getRole" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Thongke_ThuocNhap">
      <soap12:operation soapAction="http://tempuri.org/Thongke_ThuocNhap" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Thongke_ThuocBan">
      <soap12:operation soapAction="http://tempuri.org/Thongke_ThuocBan" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThongkeSLT">
      <soap12:operation soapAction="http://tempuri.org/ThongkeSLT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThongkeTHH">
      <soap12:operation soapAction="http://tempuri.org/ThongkeTHH" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TKDoanhThuMY">
      <soap12:operation soapAction="http://tempuri.org/TKDoanhThuMY" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TKDoanhThuY">
      <soap12:operation soapAction="http://tempuri.org/TKDoanhThuY" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TKDoanhThu">
      <soap12:operation soapAction="http://tempuri.org/TKDoanhThu" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimKiemKH">
      <soap12:operation soapAction="http://tempuri.org/TimKiemKH" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThemKH">
      <soap12:operation soapAction="http://tempuri.org/ThemKH" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimKiemThuoc_Ban">
      <soap12:operation soapAction="http://tempuri.org/TimKiemThuoc_Ban" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThemPhieuXuat">
      <soap12:operation soapAction="http://tempuri.org/ThemPhieuXuat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThemPhieuXuat1">
      <soap12:operation soapAction="http://tempuri.org/ThemPhieuXuat1" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LayMaPX">
      <soap12:operation soapAction="http://tempuri.org/LayMaPX" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThemDonThuoc">
      <soap12:operation soapAction="http://tempuri.org/ThemDonThuoc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LayThuocDatHang">
      <soap12:operation soapAction="http://tempuri.org/LayThuocDatHang" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LayThuocDaDatHang">
      <soap12:operation soapAction="http://tempuri.org/LayThuocDaDatHang" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LayThuocDatHangChiTiet">
      <soap12:operation soapAction="http://tempuri.org/LayThuocDatHangChiTiet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XoaDon">
      <soap12:operation soapAction="http://tempuri.org/XoaDon" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LayDS">
      <soap12:operation soapAction="http://tempuri.org/LayDS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap12:operation soapAction="http://tempuri.org/Register" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LayTenLoaiThuoc">
      <soap12:operation soapAction="http://tempuri.org/LayTenLoaiThuoc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChiTietSP">
      <soap12:operation soapAction="http://tempuri.org/ChiTietSP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LayDSLoaiThuoc">
      <soap12:operation soapAction="http://tempuri.org/LayDSLoaiThuoc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XoaSPGH">
      <soap12:operation soapAction="http://tempuri.org/XoaSPGH" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="QLBanThuocService">
    <wsdl:port name="QLBanThuocServiceSoap" binding="tns:QLBanThuocServiceSoap">
      <soap:address location="https://localhost:44372/QLBTService.asmx" />
    </wsdl:port>
    <wsdl:port name="QLBanThuocServiceSoap12" binding="tns:QLBanThuocServiceSoap12">
      <soap12:address location="https://localhost:44372/QLBTService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>