QLBanThuoc/QLBanThuoc/Connected Services/QL_SR/QLBTService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ThemMoiNCC">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mancc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tenncc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nguoidd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sdt" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="diachi" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ThemMoiNCCResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ThemMoiNCCResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SuaNhaCungCap">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mancc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tenncc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nguoidd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sdt" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="diachi" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SuaNhaCungCapResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SuaNhaCungCapResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="XoaNhaCungCap">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mancc" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="XoaNhaCungCapResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="XoaNhaCungCapResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TimKiemNCC">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="thongtin" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TimKiemNCCResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TimKiemNCCResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getIDResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ma_user">
        <s:complexType />
      </s:element>
      <s:element name="ma_userResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ma_userResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TimKiemThuoc">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="str" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TimKiemThuocResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TimKiemThuocResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TimKiemThuocSua">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="str" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TimKiemThuocSuaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TimKiemThuocSuaResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LuuThuoc">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mathuoc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="malo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ten" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nsx" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="hsd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="slt" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dt" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dongia" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LuuThuocResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LuuThuocResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="XoaThuoc">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="maThuoc" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="XoaThuocResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="XoaThuocResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DanhSachThuoc">
        <s:complexType />
      </s:element>
      <s:element name="DanhSachThuocResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DanhSachThuocResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DanhSachThuocTheoTen">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TenThuoc" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DanhSachThuocTheoTenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DanhSachThuocTheoTenResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DanhSachThuocTheoThoiHan">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="date1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="date2" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DanhSachThuocTheoThoiHanResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DanhSachThuocTheoThoiHanResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DanhSachThuocTheoTenVaThoiHan">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TenThuoc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="date1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="date2" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DanhSachThuocTheoTenVaThoiHanResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DanhSachThuocTheoTenVaThoiHanResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DangKy">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tenDangNhap" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MatKhau" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DangKyResponse">
        <s:complexType />
      </s:element>
      <s:element name="DoiMatKhau">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tenDangNhap" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MatKhauCu" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MatKhauMoi" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoiMatKhauResponse">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HelloName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HelloNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ThemMoiNCCSoapIn">
    <wsdl:part name="parameters" element="tns:ThemMoiNCC" />
  </wsdl:message>
  <wsdl:message name="ThemMoiNCCSoapOut">
    <wsdl:part name="parameters" element="tns:ThemMoiNCCResponse" />
  </wsdl:message>
  <wsdl:message name="SuaNhaCungCapSoapIn">
    <wsdl:part name="parameters" element="tns:SuaNhaCungCap" />
  </wsdl:message>
  <wsdl:message name="SuaNhaCungCapSoapOut">
    <wsdl:part name="parameters" element="tns:SuaNhaCungCapResponse" />
  </wsdl:message>
  <wsdl:message name="XoaNhaCungCapSoapIn">
    <wsdl:part name="parameters" element="tns:XoaNhaCungCap" />
  </wsdl:message>
  <wsdl:message name="XoaNhaCungCapSoapOut">
    <wsdl:part name="parameters" element="tns:XoaNhaCungCapResponse" />
  </wsdl:message>
  <wsdl:message name="TimKiemNCCSoapIn">
    <wsdl:part name="parameters" element="tns:TimKiemNCC" />
  </wsdl:message>
  <wsdl:message name="TimKiemNCCSoapOut">
    <wsdl:part name="parameters" element="tns:TimKiemNCCResponse" />
  </wsdl:message>
  <wsdl:message name="getIDSoapIn">
    <wsdl:part name="parameters" element="tns:getID" />
  </wsdl:message>
  <wsdl:message name="getIDSoapOut">
    <wsdl:part name="parameters" element="tns:getIDResponse" />
  </wsdl:message>
  <wsdl:message name="ma_userSoapIn">
    <wsdl:part name="parameters" element="tns:ma_user" />
  </wsdl:message>
  <wsdl:message name="ma_userSoapOut">
    <wsdl:part name="parameters" element="tns:ma_userResponse" />
  </wsdl:message>
  <wsdl:message name="TimKiemThuocSoapIn">
    <wsdl:part name="parameters" element="tns:TimKiemThuoc" />
  </wsdl:message>
  <wsdl:message name="TimKiemThuocSoapOut">
    <wsdl:part name="parameters" element="tns:TimKiemThuocResponse" />
  </wsdl:message>
  <wsdl:message name="TimKiemThuocSuaSoapIn">
    <wsdl:part name="parameters" element="tns:TimKiemThuocSua" />
  </wsdl:message>
  <wsdl:message name="TimKiemThuocSuaSoapOut">
    <wsdl:part name="parameters" element="tns:TimKiemThuocSuaResponse" />
  </wsdl:message>
  <wsdl:message name="LuuThuocSoapIn">
    <wsdl:part name="parameters" element="tns:LuuThuoc" />
  </wsdl:message>
  <wsdl:message name="LuuThuocSoapOut">
    <wsdl:part name="parameters" element="tns:LuuThuocResponse" />
  </wsdl:message>
  <wsdl:message name="XoaThuocSoapIn">
    <wsdl:part name="parameters" element="tns:XoaThuoc" />
  </wsdl:message>
  <wsdl:message name="XoaThuocSoapOut">
    <wsdl:part name="parameters" element="tns:XoaThuocResponse" />
  </wsdl:message>
  <wsdl:message name="DanhSachThuocSoapIn">
    <wsdl:part name="parameters" element="tns:DanhSachThuoc" />
  </wsdl:message>
  <wsdl:message name="DanhSachThuocSoapOut">
    <wsdl:part name="parameters" element="tns:DanhSachThuocResponse" />
  </wsdl:message>
  <wsdl:message name="DanhSachThuocTheoTenSoapIn">
    <wsdl:part name="parameters" element="tns:DanhSachThuocTheoTen" />
  </wsdl:message>
  <wsdl:message name="DanhSachThuocTheoTenSoapOut">
    <wsdl:part name="parameters" element="tns:DanhSachThuocTheoTenResponse" />
  </wsdl:message>
  <wsdl:message name="DanhSachThuocTheoThoiHanSoapIn">
    <wsdl:part name="parameters" element="tns:DanhSachThuocTheoThoiHan" />
  </wsdl:message>
  <wsdl:message name="DanhSachThuocTheoThoiHanSoapOut">
    <wsdl:part name="parameters" element="tns:DanhSachThuocTheoThoiHanResponse" />
  </wsdl:message>
  <wsdl:message name="DanhSachThuocTheoTenVaThoiHanSoapIn">
    <wsdl:part name="parameters" element="tns:DanhSachThuocTheoTenVaThoiHan" />
  </wsdl:message>
  <wsdl:message name="DanhSachThuocTheoTenVaThoiHanSoapOut">
    <wsdl:part name="parameters" element="tns:DanhSachThuocTheoTenVaThoiHanResponse" />
  </wsdl:message>
  <wsdl:message name="DangKySoapIn">
    <wsdl:part name="parameters" element="tns:DangKy" />
  </wsdl:message>
  <wsdl:message name="DangKySoapOut">
    <wsdl:part name="parameters" element="tns:DangKyResponse" />
  </wsdl:message>
  <wsdl:message name="DoiMatKhauSoapIn">
    <wsdl:part name="parameters" element="tns:DoiMatKhau" />
  </wsdl:message>
  <wsdl:message name="DoiMatKhauSoapOut">
    <wsdl:part name="parameters" element="tns:DoiMatKhauResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="HelloNameSoapIn">
    <wsdl:part name="parameters" element="tns:HelloName" />
  </wsdl:message>
  <wsdl:message name="HelloNameSoapOut">
    <wsdl:part name="parameters" element="tns:HelloNameResponse" />
  </wsdl:message>
  <wsdl:portType name="QLBanThuocServiceSoap">
    <wsdl:operation name="ThemMoiNCC">
      <wsdl:input message="tns:ThemMoiNCCSoapIn" />
      <wsdl:output message="tns:ThemMoiNCCSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SuaNhaCungCap">
      <wsdl:input message="tns:SuaNhaCungCapSoapIn" />
      <wsdl:output message="tns:SuaNhaCungCapSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="XoaNhaCungCap">
      <wsdl:input message="tns:XoaNhaCungCapSoapIn" />
      <wsdl:output message="tns:XoaNhaCungCapSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TimKiemNCC">
      <wsdl:input message="tns:TimKiemNCCSoapIn" />
      <wsdl:output message="tns:TimKiemNCCSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getID">
      <wsdl:input message="tns:getIDSoapIn" />
      <wsdl:output message="tns:getIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ma_user">
      <wsdl:input message="tns:ma_userSoapIn" />
      <wsdl:output message="tns:ma_userSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TimKiemThuoc">
      <wsdl:input message="tns:TimKiemThuocSoapIn" />
      <wsdl:output message="tns:TimKiemThuocSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TimKiemThuocSua">
      <wsdl:input message="tns:TimKiemThuocSuaSoapIn" />
      <wsdl:output message="tns:TimKiemThuocSuaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LuuThuoc">
      <wsdl:input message="tns:LuuThuocSoapIn" />
      <wsdl:output message="tns:LuuThuocSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="XoaThuoc">
      <wsdl:input message="tns:XoaThuocSoapIn" />
      <wsdl:output message="tns:XoaThuocSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DanhSachThuoc">
      <wsdl:input message="tns:DanhSachThuocSoapIn" />
      <wsdl:output message="tns:DanhSachThuocSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DanhSachThuocTheoTen">
      <wsdl:input message="tns:DanhSachThuocTheoTenSoapIn" />
      <wsdl:output message="tns:DanhSachThuocTheoTenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DanhSachThuocTheoThoiHan">
      <wsdl:input message="tns:DanhSachThuocTheoThoiHanSoapIn" />
      <wsdl:output message="tns:DanhSachThuocTheoThoiHanSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DanhSachThuocTheoTenVaThoiHan">
      <wsdl:input message="tns:DanhSachThuocTheoTenVaThoiHanSoapIn" />
      <wsdl:output message="tns:DanhSachThuocTheoTenVaThoiHanSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DangKy">
      <wsdl:input message="tns:DangKySoapIn" />
      <wsdl:output message="tns:DangKySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DoiMatKhau">
      <wsdl:input message="tns:DoiMatKhauSoapIn" />
      <wsdl:output message="tns:DoiMatKhauSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HelloName">
      <wsdl:input message="tns:HelloNameSoapIn" />
      <wsdl:output message="tns:HelloNameSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="QLBanThuocServiceSoap" type="tns:QLBanThuocServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ThemMoiNCC">
      <soap:operation soapAction="http://tempuri.org/ThemMoiNCC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SuaNhaCungCap">
      <soap:operation soapAction="http://tempuri.org/SuaNhaCungCap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XoaNhaCungCap">
      <soap:operation soapAction="http://tempuri.org/XoaNhaCungCap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimKiemNCC">
      <soap:operation soapAction="http://tempuri.org/TimKiemNCC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getID">
      <soap:operation soapAction="http://tempuri.org/getID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ma_user">
      <soap:operation soapAction="http://tempuri.org/ma_user" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimKiemThuoc">
      <soap:operation soapAction="http://tempuri.org/TimKiemThuoc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimKiemThuocSua">
      <soap:operation soapAction="http://tempuri.org/TimKiemThuocSua" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LuuThuoc">
      <soap:operation soapAction="http://tempuri.org/LuuThuoc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XoaThuoc">
      <soap:operation soapAction="http://tempuri.org/XoaThuoc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DanhSachThuoc">
      <soap:operation soapAction="http://tempuri.org/DanhSachThuoc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DanhSachThuocTheoTen">
      <soap:operation soapAction="http://tempuri.org/DanhSachThuocTheoTen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DanhSachThuocTheoThoiHan">
      <soap:operation soapAction="http://tempuri.org/DanhSachThuocTheoThoiHan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DanhSachThuocTheoTenVaThoiHan">
      <soap:operation soapAction="http://tempuri.org/DanhSachThuocTheoTenVaThoiHan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DangKy">
      <soap:operation soapAction="http://tempuri.org/DangKy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoiMatKhau">
      <soap:operation soapAction="http://tempuri.org/DoiMatKhau" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloName">
      <soap:operation soapAction="http://tempuri.org/HelloName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="QLBanThuocServiceSoap12" type="tns:QLBanThuocServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ThemMoiNCC">
      <soap12:operation soapAction="http://tempuri.org/ThemMoiNCC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SuaNhaCungCap">
      <soap12:operation soapAction="http://tempuri.org/SuaNhaCungCap" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XoaNhaCungCap">
      <soap12:operation soapAction="http://tempuri.org/XoaNhaCungCap" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimKiemNCC">
      <soap12:operation soapAction="http://tempuri.org/TimKiemNCC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getID">
      <soap12:operation soapAction="http://tempuri.org/getID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ma_user">
      <soap12:operation soapAction="http://tempuri.org/ma_user" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimKiemThuoc">
      <soap12:operation soapAction="http://tempuri.org/TimKiemThuoc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimKiemThuocSua">
      <soap12:operation soapAction="http://tempuri.org/TimKiemThuocSua" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LuuThuoc">
      <soap12:operation soapAction="http://tempuri.org/LuuThuoc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XoaThuoc">
      <soap12:operation soapAction="http://tempuri.org/XoaThuoc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DanhSachThuoc">
      <soap12:operation soapAction="http://tempuri.org/DanhSachThuoc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DanhSachThuocTheoTen">
      <soap12:operation soapAction="http://tempuri.org/DanhSachThuocTheoTen" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DanhSachThuocTheoThoiHan">
      <soap12:operation soapAction="http://tempuri.org/DanhSachThuocTheoThoiHan" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DanhSachThuocTheoTenVaThoiHan">
      <soap12:operation soapAction="http://tempuri.org/DanhSachThuocTheoTenVaThoiHan" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DangKy">
      <soap12:operation soapAction="http://tempuri.org/DangKy" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoiMatKhau">
      <soap12:operation soapAction="http://tempuri.org/DoiMatKhau" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloName">
      <soap12:operation soapAction="http://tempuri.org/HelloName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="QLBanThuocService">
    <wsdl:port name="QLBanThuocServiceSoap" binding="tns:QLBanThuocServiceSoap">
      <soap:address location="https://localhost:44372/QLBTService.asmx" />
    </wsdl:port>
    <wsdl:port name="QLBanThuocServiceSoap12" binding="tns:QLBanThuocServiceSoap12">
      <soap12:address location="https://localhost:44372/QLBTService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>